<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,168},{81,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>scene1_box_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,329},{80,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>scene1_box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,251},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>scene1_box_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,85},{81,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{83,76}</string>
            </dict>
            <key>scene1_box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,167},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{86,73}</string>
            </dict>
            <key>scene1_box_redandorg.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,411},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{83,76}</string>
            </dict>
            <key>scene1_car_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,271},{80,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{80,56}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>scene1_car_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{80,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{80,56}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>scene1_char_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,249},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>scene1_giftbox_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,185},{81,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,84}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>scene1_giftbox_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,329},{81,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>scene1_giftbox_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,98},{80,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>scene1_house_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{80,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,109}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>scene1_house_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>scene1_house_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>scene1_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,435},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>scene1_street.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{80,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>scene1_street_lanscape.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,412},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>scene1_street_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{81,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>scene1_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,337},{76,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{76,96}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>scene1_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{78,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{78,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>scene1_xianrenzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>scene_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,85},{80,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>scene_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,167},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaa9f26194f5c1ab8e609cb8d192f279:1/1$</string>
            <key>textureFileName</key>
            <string>scene1.png</string>
        </dict>
    </dict>
</plist>
